@import './base.css';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #F0F2F5;
}

#app {
  height: 100%;
}

* {
  font-family: system-ui;
}

/*.ant-card{*/
/*  margin: 20px;*/
/*}*/

/*antd 表格 header 样式*/
.ant-table-thead > tr > th {
  font-weight: normal!important;
  white-space: nowrap;
  /*text-align: center;*/
}