server:
  port: 8080

logging:
  file:
    name: log\log.log

spring:
  application:
    name: wildnote
  web:
    resources:
      # 指定前端静态资源路径，相对于wildnote-server目录的路径
      static-locations: file:..\wildnote-web\dist

wildnote:
  # 生产环境必须保留 auth-username 和 auth-password 配置以覆盖开发配置
  auth-username: admin
  auth-password: admin
  auth-jwt-secret: secret
  auth-jwt-expires: 30d

  # 笔记根路径，支持绝对路径和相对路径
  #note-root-path: C:\note
  note-root-path: .\src
  note-extensions: .md,.txt
  # 笔记配置文件路径，在笔记根路径下的相对路径
  note-setting-file-path: wildnote.json
  extra-log-root-path: log\

  # 使用钉钉发送提醒消息
  remind-dingtalk-key:
  remind-dingtalk-secret:
  remind-dingtalk-chatid:

  # 使用阿里云短信服务发送短信
  sms-aliyun-key:
  sms-aliyun-secret:
  sms-aliyun-sign:
  sms-aliyun-template: