@import './base.css';

html {
}

body {
  background-color: #f0f2f5;
}

#app {
}

* {
  font-family: system-ui;
}

a {
  color: #1677ff;
  text-decoration: none;
}

/*.ant-card{*/
/*  margin: 20px;*/
/*}*/

/*antd 表格 header 样式*/
.ant-table-thead > tr > th {
  font-weight: normal !important;
  white-space: nowrap;
  /*text-align: center;*/
}
